# use glob syntax.
syntax: glob

#IDEA files
.idea/**
target
*.iml
*.ipr

overlays
bin
.classpath
.*project
.settings
*.pyc
*~
*.log
buildInfo.jsp
.directory

pom.xml.releaseBackup
release.properties

# Frontend plugins
syntax: glob
src/main/frontend/node/**
src/main/frontend/node_modules/**
