body {
    background-image: url("../pictures/evolution.jpg");
    background-size: cover;
}


h1 {
    align-self: center;
    margin-bottom: 40px;
}

.Icon--delete {
    background-image: inline("delete.png");
}
